{
  "auth_uri": "https://{{yourOktaDomain}}/oauth2/default/v1/authorize",
  "client_id": "{{yourClientId}}",
  "client_secret": "{{yourClientSecret}}",
  "redirect_uri": "http://localhost:8080/authorization-code/callback",
  "issuer": "https://{{yourOktaDomain}}/oauth2/default",
  "token_uri": "https://{{yourOktaDomain}}/oauth2/default/v1/token",
  "userinfo_uri": "https://{{yourOktaDomain}}/oauth2/default/v1/userinfo",
  "users_uri": "https://{{yourOktaDomain}}/api/v1/users",
  "api_token": "{{yourOktaApiToken}}",
  "yoonik_authentication_api_url": "{{yoonikApiUrl}}",
  "yoonik_authentication_api_key": "{{yoonikApiKey}}"
}
