{
  "authorization_endpoint": "https://{{yourOktaDomain}}/oauth2/v1/authorize",
  "client_id": "{{yourClientId}}",
  "client_secret": "{{yourClientSecret}}",
  "redirect_uri": "http://127.0.0.1:8080/authorization-code/callback",
  "token_endpoint": "https://{{yourOktaDomain}}/oauth2/v1/token",
  "userinfo_endpoint": "https://{{yourOktaDomain}}/oauth2/v1/userinfo",
  "yoonik_authentication_api_url": "{{yoonikApiUrl}}",
  "yoonik_authentication_api_key": "{{yoonikApiKey}}"
}
